<?php
/**
 * Astound Notifications Block Bars template.
 *
 * @category  Astound
 * @package   Astound\Notifications
 * @author    Dmitry Mosaniuk
 * @copyright 2019 Dmitry Mosaniuk Test
 */

/** @var $block \Astound\Notifications\Block\Notification\Bars */
?>

<div class="astound-notifications" align="center">
    <?php $bars = $block->getBars(); ?>
    <?php foreach ($bars as $bar) : ?>
        <?php if ($block->getBarByStores($bar->getStoreIds())) : ?>
            <div class="notification-bar"
                 style="background: <?php echo $bar->getBackgroundColor() ?>">
                <?php echo $bar->getTitle() ?><br/>
                <?php echo $bar->getContent() ?><br/>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
